* {
    box-sizing: border-box;
}

.banner {
    background-image: url("/images/baner.png");
    width: 1366px;
    height: 800px;
    background-size: cover;
    opacity: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-start;

}

.page-header {
    height: 93px;
    width: 1366px;
    opacity: 100%;
    border: 2px solid #FFFFFF33;
    background-color: #00000066;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.logo {
    font-size: 35px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    color: white;
    position: absolute;
    text-transform: uppercase;
    height: 47px;
    padding: 27px;

}

.logo-header-img {
    height: 35px;
    width: 31px;

}

.logo span {
    color:#FF0000 ;
}